<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The 100 years of the 100 inches Mount Wilson telescope"

>
  <image imageURL="images/10.13-24.jpg"
	thumbURL="thumbs/10.13-24.jpg"
	linkURL="images/10.13-24.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-24.jpg">
    <title><![CDATA[Transporting the telescope to Mt. Wilson]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10.22.43-5.jpg"
	thumbURL="thumbs/10.22.43-5.jpg"
	linkURL="images/10.22.43-5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Downloads\10.22.43-5.jpg">
    <title><![CDATA[Workers on trail up Mount Wilson]]></title>
    <caption><![CDATA[(Undated; photo ID 10.22.43-5)]]></caption>
  </image>
  <image imageURL="images/50.14-8.jpg"
	thumbURL="thumbs/50.14-8.jpg"
	linkURL="images/50.14-8.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\50.14-8.jpg">
    <title><![CDATA[George Ellery Hale and others in wagon on Mount  Wilson trail]]></title>
    <caption><![CDATA[Edison R. Hoge Photograph Collection. (Undated; photo ID 50.14-8)]]></caption>
  </image>
  <image imageURL="images/10.13-21.jpg"
	thumbURL="thumbs/10.13-21.jpg"
	linkURL="images/10.13-21.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Downloads\10.13-21.jpg">
    <title><![CDATA[The 20' Michelson interferometer on Hooker telescope, used to measure the angular diameter of stars]]></title>
    <caption><![CDATA[(1920; photo ID 10.13-21). Photo by Mt. Wilson and Las Campanas Observatories.]]></caption>
  </image>
  <image imageURL="images/10.13-10.jpg"
	thumbURL="thumbs/10.13-10.jpg"
	linkURL="images/10.13-10.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-10.jpg">
    <title><![CDATA[100" telescope and yoke]]></title>
    <caption><![CDATA[(Undated; photo ID 10.13-10)]]></caption>
  </image>
  <image imageURL="images/10.13-30.jpg"
	thumbURL="thumbs/10.13-30.jpg"
	linkURL="images/10.13-30.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-30.jpg">
    <title><![CDATA[100" Hooker telescope at Mt. Wilson. The total weight of the telescope is about 100 tons. The mirror is mounted in the lower end of the telescope. It is 100" in diameter. 13 " thick at the outer edge and weighs 4 1/2 tons. The upper concave surface is covered by a thin but brilliant coat of aluminum and focuses the light of a star in the same way as a lens.]]></title>
    <caption><![CDATA[(Undated; photo ID 10.13-30)]]></caption>
  </image>
  <image imageURL="images/10.12-48.jpg"
	thumbURL="thumbs/10.12-48.jpg"
	linkURL="images/10.12-48.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.12-48.jpg">
    <title><![CDATA[John D. Strong & Enrique Gaviola looking into the freshly aluminized 100" mirror]]></title>
    <caption><![CDATA[Photo was taken on the floor of the Hooker telescope dome, Mt. Wilson Observatory. Photo by World Wide Photos. (Undated; photo ID 10.12-48)]]></caption>
  </image>
  <image imageURL="images/10.13-7.jpg"
	thumbURL="thumbs/10.13-7.jpg"
	linkURL="images/10.13-7.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-7.jpg">
    <title><![CDATA[100" Hooker telescope at Mt. Wilson]]></title>
    <caption><![CDATA[(Undated; photo ID 10.13-7)]]></caption>
  </image>
  <image imageURL="images/10.13-23.jpg"
	thumbURL="thumbs/10.13-23.jpg"
	linkURL="images/10.13-23.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-23.jpg">
    <title><![CDATA[Edwin Hubble and Sir James Jeans look through telescope]]></title>
    <caption><![CDATA[(Undated; photo ID 10.13-23)]]></caption>
  </image>
  <image imageURL="images/1.6-16.jpg"
	thumbURL="thumbs/1.6-16.jpg"
	linkURL="images/1.6-16.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\1.6-16.jpg">
    <title><![CDATA[Albert Einstein with Edwin Hubble and Walter Adams looking iinto the eyepiece of the 100-inch Hooker telescope. Einstein visited Caltech for the first time in the winter of 1931, to discuss the cosmological implications of the theory of relativity with physicists and astronomers at Caltech and at the Mt. Wilson Observatory.]]></title>
    <caption><![CDATA[(Undated; photo ID 1.6-16)]]></caption>
  </image>
  <image imageURL="images/1.6-5.jpg"
	thumbURL="thumbs/1.6-5.jpg"
	linkURL="images/1.6-5.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\1.6-5.jpg">
    <title><![CDATA[Einstein and William Campbell in front of 100” telescope.]]></title>
    <caption><![CDATA[Photo by Associated Press (1931; photo ID 1.6-5)]]></caption>
  </image>
  <image imageURL="images/10.13-37.jpg"
	thumbURL="thumbs/10.13-37.jpg"
	linkURL="images/10.13-37.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\10.13-37.jpg">
    <title><![CDATA[100" Hooker telescope dome at Mt. Wilson. The upper part of this building rotates to keep the opening in front of the telescope. Coated with aluminum to deflect heat. The dome is 100' in diameter and 105' high. The weight of the upper rotating portion is 600 tons.]]></title>
    <caption><![CDATA[(Undated; photo ID 10.13-37)]]></caption>
  </image>
  <image imageURL="images/ISB1.25-14.jpg"
	thumbURL="thumbs/ISB1.25-14.jpg"
	linkURL="images/ISB1.25-14.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Mt. Wilson\Low-res\ISB1.25-14.jpg">
    <title><![CDATA[ 100" and 60" domes at Mt. Wilson]]></title>
    <caption><![CDATA[(Undated; ]]></caption>
  </image>
  <image imageURL="images/1.7-1.jpg"
	thumbURL="thumbs/1.7-1.jpg"
	linkURL="images/1.7-1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\1.7-1.jpg">
    <title><![CDATA[Einstein equations on blackboard at Mt. Wilson]]></title>
    <caption><![CDATA[(circa 1931; photo ID 1.7-1)]]></caption>
  </image>
</juiceboxgallery>